.content {
  background-color: rgb(131, 153, 153);
}

.text {
  font-size: large;
}

.menu {
  background-color: rgb(204, 153, 0);
  margin-left: auto;
  width: 100%;
  left: 80px;
  font-weight: 400px;

  height: 10vh;
  display: flex;
  justify-content: space-around;
}
.opt {
  color: rgb(0, 0, 0);
  display: flex;
  justify-content: center;
  text-decoration: none;
  position: relative;
  left: 400px;
  margin: 0 0 0 10px;

  color: white;
}
